.app {
  display: flex;
  background-color: #f1b9b8;
  justify-content: center;
  align-items: center;
}

.app--items {
  background-color: #E5E5E5;
  width: 550px;
  border-radius: 10px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  transform: scale(0.95);
  transition: transform 0.5s, background-color 0.5s, box-shadow 0.5s;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  margin: 20px;
}
